// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.flat-card {
  width: 350px;

  &-image {
    background-size: cover;
    height: 180px;
    width: 350px;
  }
}
